# Build output
Builds/
obj/
*.user
.vs/
# Written by the build (see the IncrementBuildNumber target)
BuildCounter.txt
include/GeneratedBuildInfo.h
# Doxygen output (run "doxygen" in this folder)
docs/
